/* cores: 
    roxo: #8B42CA
    azul escuro: #1B2153
    branco: #fff
*/

.container{
    width: 200px;
    height: max-content;
    margin: auto;
    background-color: #8b42ca;
    padding: 20px 15px;
    margin-top: 120px;
    border-radius: 7px;
    font-family: "Hammersmith One", sans-serif;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.5);
}

h1{
    margin: 0;
    text-align: left;
    margin-bottom: 10px;
}

.login-form{
    padding: 5px;

}

.form-field{
    display: inline-block;
    padding: 5px;
    margin-top: 20px;

}

.form-error{
    display: block;
    color: rgb(237, 67, 55);
    font-size: 0.9em;
    font-weight: 600;
}

.button{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px 10px;
}