/* cores: 
    roxo: #8B42CA
    azul escuro: #1B2153
    branco: #fff
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    background-image: url('../../assets/images/background-login.png');
    background-position: center;
    background-size: cover;
    font-family: "Hammersmith One", sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}

.contents{
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
}

h1{
    margin-bottom: 10px;
    color: #fff;
    
}

.login-form{
    padding: 5px;
}

.form-field{
    display: inline-block;
    padding: 5px;
    margin-top: 20px;

}

.form-error{
    display: block;
    color: rgb(237, 67, 55);
    font-size: 0.9em;
    font-weight: 600;
}

.button{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px 10px;
    color: blue;
}